.cart-main-container {
  background-color: transparent;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
}
.cart-heading {
  font-size: 50px;
  color: black;
  margin-top: 0px;
}
.cart-remove-all-btn {
  background-color: transparent;
  color: #f2a807;
  border: none;
  cursor: pointer;
  outline: pointer;
  font-size: 22px;
  font-weight: 600;
  align-self: flex-end;
}
