.empty-view-container {
  background-color: transparent;
  background-size: cover;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-empty-img {
  width: 360px;
  height: 380px;
}
.cart-empty-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
}
.shop-now-btn {
  background-color: #f2a807;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}
