.tab-item-main-container {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tab-item-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  height: 100%;
  width: 100%;
}
.active-btn {
  color: #f2a807;
  border-bottom: 2px solid #f2a807;
}
