.main-container {
  background-color: transparent;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.loader-container {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-container {
  height: 80%;
  width: 100%;
}
.tabs-list-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  border-bottom: 2px solid #e3e6e4;
}
.dish-list-container {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f2a807;
  background-size: cover;
}
