.nav-container {
  height: 10%;
  width: 100%;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  background-color: #f2a807;
  border-bottom: 2px solid #e3e6e4;
}
.nav-heading {
  font-size: 25px;
  color: #ffffff;
}
.cart-text-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.my-orders-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  margin-right: 15px;
}
.cart-image {
  height: 30px;
  width: 30px;
}
.quantity-container {
  height: 25px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.quantity-count {
  color: #f2a807;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
}
.cart-btn {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 50px;
  color: #ffffff;
  border: none;
}
.logout-btn {
  color: #f2a807;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.home-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
