.cart-dish-item-container {
  width: 100%;
  height: 150px;
  border: none;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: row;
  background-color: #f2a807;
  margin-bottom: 30px;
}
.dish-image-title-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.dish-item-image {
  height: 130px;
  width: 130px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.dish-item-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.dish-quantity-price-del-btn-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dish-item-quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.dish-item-decrease-btn {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}
.dish-item-quantity {
  color: #ffffff;
  font-size: 20px;
}
.dish-item-increase-btn {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
.dish-item-price-del-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.dish-item-price {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-right: 100px;
}
.dish-item-del-btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}
